{{define "header"}}
    <header>
        <nav>
            <a href="/" class="navlink">Images</a>
            <a href="/albums" class="navlink">Albums</a>
            <a href="/settings" class="navlink">Settings</a>
        </nav>
    </header>
{{end}}
